.main {
  background-color: darkgrey;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto; 
}

.filter {
  grid-column: span 3; 
  background-color: white;
  padding: 2.9rem;
}

.chart {
  grid-column: span 9; 
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
} 

/* Media queries for smaller screens */
@media (max-width: 900px) {
  .main {
    grid-template-columns: repeat(1, 1fr);
  }

  .filter,
  .chart {
    grid-column: span 12;  
  }
}